html
  head
    include includes/head.jade
    link(href="../public/styles/private.css" rel="stylesheet")
    script(src="../public/scripts/checkout.js")
  body
    include includes/header.jade
    .container
      table.table.table-striped(
        style="margin-bottom: 150px;"
      )
        thead 
          tr  
            th(scope="row") #
            th(scope="row") album
            th(scope="row") price
            th(scope="row") ~
        tbody
          if bag.length == 0
           tr 
            td(colspan=4)  Bag Empty!!!
          else
            each item, index in bag 
              tr
                th(scope="row") #{index+1}
                td #{item.album}
                td #{item.price}
                td 
                  a(href=`/api/delete/${item._id}`) delete
      if bag.length > 0
        button.btn.btn-lg.btn-block.btn-success(
          onclick='deliverItems()'
        ) Checkout
  include includes/required_files.jade