html
  head
    include includes/head.jade
    link(href="../public/styles/login.css" rel="stylesheet")
  body(class="text-center")
    form(
      class="form-signin" 
      method="post" 
      action="/auth/login"
    )
      h1(class="h3 mb-3 font-weight-normal") Music Store
      if errors
        each error in errors
          p *#{error}
      label(for="inputEmail" class="sr-only") Email address
      input(
        type="email" 
        id="inputEmail" 
        name="username" 
        class="form-control" 
        placeholder="Email address" 
        required autofocus
        value=username
      )
      label(for="inputPassword" class="sr-only") Password
      input(
        type="password" 
        id="inputPassword" 
        name="password" 
        class="form-control" 
        placeholder="Password" 
        required
        value=password
      )
      button(class="btn btn-lg btn-primary btn-block" type="submit") login

      a(href="/auth/signup") create new user
  include includes/required_files.jade